<mat-toolbar color="primary">
  <i class="material-icons back-button" routerLink="/home">
    arrow_back
  </i>&nbsp; Refine Your Image
</mat-toolbar>

<div class="image-area">
  <div class="image-wrapper">
    <img id="image" [src]="_DomSanitizationService.bypassSecurityTrustUrl(imgData)"/>
  </div>
  <mat-card class="cropper-container">
    <mat-card-content>
    <app-cropper-tool></app-cropper-tool>
    </mat-card-content>
    <mat-card-content class="action-container">
      <button mat-raised-button color="primary" (click)="processImage()">VIEW RESULTS</button>
    </mat-card-content>
  </mat-card>
</div>
