.back-button {
  cursor: pointer;
}

.cropper-container, .action-container {
  text-align: center;
}

.image-area {
  background-color: #e0e0e0;
}
.image-wrapper {
  height: 500px;
  min-height: 200px;
}
#image, .image-wrapper img {
  max-width: 100%;
}

.progress {
  width: 50%;
  margin: auto;
  font-size: 12px;
  color: #666;
}

.btn-process {
  text-transform: uppercase;
}

.error-message {
  font-size: 13px;
  color: red;
}
