<mat-toolbar color="primary">
  <i class="material-icons back-button" routerLink="/home">
    arrow_back
  </i>&nbsp; Refine Your Image
</mat-toolbar>

<div class="image-area">
  <div class="image-wrapper">
    <img id="image" [src]="_DomSanitizationService.bypassSecurityTrustUrl(imgData)"/>
  </div>
  <mat-card class="cropper-container">
    <mat-card-content>
    <app-cropper-tool></app-cropper-tool>
    </mat-card-content>
    <mat-card-content class="action-container">
      <button class="btn-process" mat-raised-button color="primary" (click)="processImage()" [disabled]="loadingMessage">
        {{processButtonLabel}}
      </button>
    </mat-card-content>

    <p class="error-message" *ngIf="errorMessage.length > 0">{{errorMessage}}</p>
  </mat-card>


</div>
