@import '~@angular/material/theming';

@include mat-core();

@import '../../themes/trupic-theme.scss';

mat-list {
  flex-grow: 1;
  overflow: auto;
  padding-top: 0;
}

.mat-card-result {
  cursor: pointer;
}

.back-button {
  cursor: pointer;
}

.search-results--header {
  display: flex;
  padding: 10px;
  box-shadow: 0 2px 8px 0px #ccc;
  margin-bottom: 6px;

  small {
    font-size: 12px;
    color: #666;
  }
  h4 {
    font-size: normal;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    margin: 0;
    line-height: 22px;
  }
}

.search-results--dropdowns {
  display: flex;
  justify-content: space-between;
  button {
    color: #666;
    font-size: 14px;
    font-weight: normal;
  }
}

.search-results--image {
  height: 30%;
  width: 30%;
}

.search-results--info {
  flex: 2;
  padding: 10px;
}

mat-expansion-panel {
  box-shadow: none;
}
.mat-expansion-panel, mat-expansion-panel-header {
  background: mat-color($trupicPalette, 50);
}

.search-results--translate {
  mat-expansion-panel-header {
    color: mat-color($trupicPalette, 900);

    ::ng-deep .mat-expansion-indicator {
      margin-bottom: 4px;
    }
  }
  .material-icons {
    font-size: 17px;
    margin-right: 10px;
  }


}

.search-results--list {
  font-size: 15px;

  h4 {
    color: mat-color($trupicPalette, 900);
  }

  small {
    color: #666;
  }

  p {
    margin-bottom: 0;
  }

  .bold {
    font-weight: bold;
  }
}

.btn-sortby {
  width: 100px;
}
.btn-filter-date {
  width: 93px;
}

.spacer {
  padding-bottom: 40px;
  height: 60px;
  width: 100%;
}

.languages-label {
  display: block;
}

.btn-languages {
  color: #999;
  border-radius: 0;
  text-align: left;
  width: 157px;
  border-bottom: 1px solid #999;
}

::ng-deep .menu-languages.mat-menu-panel {
  margin-top: 35px;
  width: 200px;
}
::ng-deep .menu-languages .mat-menu-item {
  font-size: 12px;
  height: 27px;
  line-height: 27px;
}
.story-card {


  img {
    width: 20%;
    height: 20%;
    max-width: 90px;
    float: left;
    margin-right: 10px;
    margin-bottom: 3px;
  }
}
